.menuButton {
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(129, 129, 129);
  margin-top: 5px;
  margin-bottom: 5px;
  max-height: 110px;
  min-height: 110px;
  max-width: 100px;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-weight: bold;
}

.iconImage {
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
  border-radius: 50%;
}
