.mainPanel {
  padding-top: 10px;
  background-color: white;
  box-shadow: 2px 2px #c2bfbf;
  width: 60%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 0;
  align-self: center;
  margin-bottom: 10px;
}

.panelCenter {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 85%;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");
}

.mainPanel h1 {
  text-align: left;
  margin-left: 5%;
  margin-bottom: 0;
  font-family: "Roboto";
  margin-top: 20px;
  text-decoration: none;
}

#headingLink {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#headingLink:link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.preview {
  padding-bottom: 1rem;
  border-bottom: rgb(139, 138, 138) solid 1px;
  margin-right: 1rem;
  text-align: left;
  word-wrap: break-word;
  max-width: 100%;
  margin-right: 10px;
  min-width: 100%;
}

.preview img {
  padding-bottom: 1rem;
  width: 80%;
  height: 80%;
  height: auto;
  object-fit: contain;
  align-self: flex-end;
}

.leftPanel {
  grid-column: 1;
  grid-row: 2;
  margin-right: 2rem;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.panelFooter {
  grid-column: 2 / span 3;
  grid-row: 3;
}
